  <div class="col">
    <div class="card">
      <img src="/uploads/<%=movie.pic%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
    <%= movie.title %>

</h5>
        <p class="card-text">
    <%= movie.myname %>
</p>
        <p class="card-text">
    <%= movie.moviecat.try(:name) %>
</p>
        <p class="card-text">
      <%= link_to "Show this movie", movie %>

</p>
      </div>
    </div>
  </div>
