<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= movie.content %>
  </p>

  <p>
    <strong>Myname:</strong>
    <%= movie.myname %>
  </p>

  <p>
    <strong>Cat:</strong>
    <%= movie.cat_id %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= movie.pic %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= movie.link %>
  </p>

</div>
