 <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div> 
<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= event.content %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= event.pic %>
  </p>

  <p>
    <strong>Written by:</strong>
    <%= event.written_by %>
  </p>

</div>
