<p style="color: green"><%= notice %></p>

<div class="card mb-3" style="max-width: 50%;">
  <div class="row g-0">
      <img src="/uploads/<%=@event.pic%>" class="img-fluid rounded-start" alt="...">
    <div class="col-md-12">
      <div class="card-body text-center">
        <p class="card-text"></p>
        <h5 class="card-title text-center"><%=@event.title%></h5>
        <p class="card-text">Written by : <strong><%=@event.written_by%></strong></p>
      </div>
      <div class="card-body">
        <%=simple_format(@event.content)%>


      </div>
    </div>
  </div>
</div>


<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
