<div id="<%= dom_id photo %>">
  <p>
    <strong>Name:</strong>
    <%= photo.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= photo.year %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= photo.location_id %>
  </p>

  <p>
    <strong>Cat:</strong>
    <%= photo.cat_id %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= photo.nationality_id %>
  </p>

</div>
