
<div data-music-release-id="<%=musicrelease.id%>"  id="<%= dom_id musicrelease %>" class="card" style="width: 60rem;">

  <div class="card-body">
    <h3 class="card-title mb-3 text-center font-weight-bold site-teal"><%= musicrelease.title %></h3>
  </div>
  <div class="row g-0">

    <div class="col-md-2">
      <img src="/uploads/<%=musicrelease.pic%>" width=100 height=100 class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">

  <div class="card-body">


<p class="card-text" data-wholecontent="<%=simple_format(musicrelease.content).html_safe%>">
    <%= musicrelease.content.truncate(100) %>

<%if musicrelease.content.length > 100%>
<%=link_to "voir plus", "#", onclick: "this.parentElement.innerHTML = this.parentElement.dataset.wholecontent;return false;"%>
<%end%>
</p>

<p class="card-text">

</p>






<div hidden class="lyrichash<%=musicrelease.id%>">{}</div>
<div hidden class="track_list<%=musicrelease.id%>"><%=raw (musicrelease.songs.track_list)%></div>
<div hidden class="curr_time_m<%=musicrelease.id%>"></div>
<div hidden class="mycurrtrack<%=musicrelease.id%>"></div>
<div >
 
    <!-- Define the section for displaying details -->

<p id="displaylyric"></p>
 
    <!-- Define the section for displaying track buttons -->

 

  </div>
<ul class="lyrics<%=musicrelease.id%>">
</ul>
<%if musicrelease.songs.length > 0%>
<table class="mytable mytable">
<tr>
<td class="player">
    <!-- Define the section for displaying the seek slider-->
    <div class="slider_container">

      <input type="range" min="1" max="100"
        value="0" class="seek_slider<%=musicrelease.id%>">

    </div>
 
    <!-- Define the section for displaying the volume slider-->
    <div class="slider_container">
      &#x1F509;
      <input type="range" min="1" max="100"
        value="99" class="volume_slider<%=musicrelease.id%>" ">
      &#x1F50A;
      <div class="current-time<%=musicrelease.id%>">00:00</div>
      <div class="total-duration<%=musicrelease.id%>">00:00</div>
    </div>
    <div class="details">
      <div hidden class="now-playing<%=musicrelease.id%>">PLAYING x OF y</div>
      <div hidden class="track-art<%=musicrelease.id%>"></div>
      <div hidden class="track-id<%=musicrelease.id%>" hidden></div>
      <div class="track-name<%=musicrelease.id%>">Track Name</div>
      <div class="track-artist<%=musicrelease.id%>">Track Artist</div>
    </div>

    <div class="buttons">
      <div class="prev-track<%=musicrelease.id%>">
&#9198;
      </div>
      <div class="playpause-track<%=musicrelease.id%>" >
        &#x25B6;
      </div>
      <div class="next-track<%=musicrelease.id%>">
&#9197;
      </div>
    </div>
</td>


</tr>
<%musicrelease.songs.each do |song|%>
<tr>
<td>
<%=song.title%>
</td>
<td>
<%=song.artist%>

</td>
<td>
        &#x25B6;
</td>

</tr>
<%end%>
</table>
<%end%>





<%=link_to "add a song to this music release", addasong_musicrelease_path(musicrelease)%>

</div>
  </div>
  </div>
  </div>
</div>
