<div id="<%= dom_id musicrelease %>" class="card" style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title mb-3 text-center font-weight-bold site-teal"><%= musicrelease.title %></h3>
  </div>
  <div class="row g-0">

    <div class="col-md-2">
      <img src="/uploads/<%=musicrelease.pic%>" width=100 height=100 class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">

  <div class="card-body" data-wholecontent="<%=simple_format(musicrelease.content).html_safe%>">

    <%= simple_format(musicrelease.content.truncate(100)) %>
<%if musicrelease.content.length > 100%>
<%=link_to "voir plus", "#", onclick: "this.parentElement.innerHTML = this.parentElement.dataset.wholecontent;return false;"%>
<%end%>
  </div>
  </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<div hidden id="lyrichash">{}</div>
<div hidden id="track_list"><%=#json.dumps(db.Song.track_list())%></div>
<div hidden id="curr_time_m"></div>
<div hidden id="mycurrtrack"></div>
<div class="player">
 
    <!-- Define the section for displaying details -->
    <div class="details">
      <div class="now-playing">PLAYING x OF y</div>
      <div class="track-art"></div>
      <div class="track-id" hidden></div>
      <div class="track-name">Track Name</div>
      <div class="track-artist">Track Artist</div>
    </div>
<p id="displaylyric"></p>
 
    <!-- Define the section for displaying track buttons -->
    <div class="buttons">
      <div class="idontlike" onclick="(confirm('vous n\' aimez pas la chanson') ? idontlike() : console.log('ok'));">
        &#128078; jaime pas
      </div>
</div>
    <div class="buttons">
      <div class="prev-track" onclick="prevTrack()">
        &#x25C0;&#x25C0;
      </div>
      <div class="playpause-track" onclick="playpauseTrack()">
        &#x25B6;
      </div>
      <div class="next-track" onclick="nextTrack()">
        &#x25B6;
        &#x25B6;
      </div>
    </div>
 
    <!-- Define the section for displaying the seek slider-->
    <div class="slider_container">
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100"
        value="0" class="seek_slider" onchange="seekTo()">
      <div class="total-duration">00:00</div>
    </div>
 
    <!-- Define the section for displaying the volume slider-->
    <div class="slider_container">
      &#x1F509;
      <input type="range" min="1" max="100"
        value="99" class="volume_slider" onchange="setVolume()">
      &#x1F50A;
    </div>
  </div>
<ul class="lyrics">
</ul>
<table>
<%@musicrelease.songs.each do |song|%>
<tr>
<td>
<%=song.title%>
</td>
<td>
<%=song.artist%>

</td>
<td>
        &#x25B6;
</td>

</tr>
<%end%>
</table>





<%=link_to "add a song to this music release", addasong_musicrelease_path(musicrelease)%>

</div>
