<div id="<%= dom_id musicrelease %>">
  <p>
    <%= musicrelease.title %>
  </p>

  <p>
    <%= musicrelease.musiccat.try(:name) %>
  </p>

  <p>
    <%= musicrelease.content %>
  </p>

  <p>
    <strong>Pic:</strong>
    <img height=100 width=100 src="/uploads/<%= musicrelease.pic %>" />
  </p>
<%=link_to "add a song to this music release", addasong_musicrelease_path(musicrelease)%>

</div>
