<div id="<%= dom_id musicrelease %>">
  <p>
    <strong>Title:</strong>
    <%= musicrelease.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= musicrelease.category %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= musicrelease.content %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= musicrelease.pic %>
  </p>

</div>
