<p style="color: green"><%= notice %></p>

<% content_for :title, "Musicreleases" %>

<h1>New Music Releases</h1>

<div id="musicreleases">
  <% @musicreleases.each do |musicrelease| %>
    <%= render musicrelease %>
    <p>
      <%= link_to "Show this musicrelease", musicrelease %>
    </p>
  <% end %>
</div>

<%= link_to "New musicrelease", new_musicrelease_path %>
<h1>Music</h1>
<%=select_tag :mamusic, options_for_select(["afrobeat", "calypso", "chutney", "dancehall", "gospel", "reggae", "soca", "parang"])%>

