<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<p>search keyword</p>
<%=text_field_tag :mypost%>
<p>search by category</p>
<%=select_tag :hey, options_for_select(Postcat.all.map(&:name))%>
<p>search by autor</p>
<%=select_tag :hi, options_for_select(Post.all.map(&:written_by))%>
